/* Importing Google Fonts for Manjari Thin and Bold */
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;700&display=swap');

h1, h2, h3, h4, h5, h6 { color: #545454; font-family: 'Manjari', sans-serif; }

p {font-family: 'Manjari', sans-serif; font-weight: 600;}

body
{
    background-color : #eaeaeafa;
    text-align : center;
    padding: 20px;
}
